body {
  background-color: white;
  font-family: arial, sans-serif;
}
a{
  text-decoration: none;
  color: black;
  opacity: 0.75;
}
nav{
  font-size:13px;
  display: block;
  height: 40px;
}

#apps {
    width: 22px;
    height: 22px;
  }

#sign-in {
  background-color: #2C58F5;
  border-radius: 3px;
  padding: 5px 15px 5px 15px;
  color: white;
  margin-left: 15px;
}

#top-left {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
#top-left a {
  display: inline-block;
  padding-left: 15px;
}
#top-right {
  position: fixed;
  right:20px;
  margin-top: 0px;
  margin-right: 10px;
}
#top-right a {
  padding-left: 15px;
}
#logo {
  padding-top: 10px;
  display: block;
  text-align: center;
  height: 85px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.Content {
  display: block;
  height: auto;
  margin-top: 80px;
  margin-bottom: auto;

}

.look-for-area{
  margin-top: 15px;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.look-for-area a {
  padding: 2px 0px 2px 2px;
  width: 4%;
}

#mg-glass {
  width: 90%;
  height: auto;
  padding-top: 30%;
}

.look-for-area input {
  width: 94%;
  border: none;
}

.look-for-buttton {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

}
.look-for-buttton a{
  background-color: #F0F0F0;
  padding: 8px;
  font-size: 15px;
  opacity: 0.6;
  border-radius: 3px;
  margin-right: 10px;
}

footer {
  height: 40px;
  position: fixed;
  bottom: 0px;
  left: 0;
  background-color: #F0F0F0;
  width: 100%;
  opacity: 0.6;
  font-size: 13px;
}

#bottom-left {
  position: absolute;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-top: 10px;
}
#bottom-left a {
  display: inline-block;
  padding-left: 15px;
}
#bottom-right {
  position: fixed;
  right:20px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-top: 10px;
}
#bottom-right a {
  padding-left: 15px;
}
